<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<p>CREATION NOUVEAU PRODUIT</p>
	<form  th:action="@{/product/create}" th:object="${product}" method="post">
		<label>nom :</label> <input type="text" th:field="*{name}">
		<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
		
		<label>valeur :</label> <input type="number" step="any" th:field="*{value}">
		
		<label>description :</label> <input type="text" th:field="*{description}">
		
		<input type="submit">
	</form>
</body>
</html>